@import '../colors.scss';
form.single-button{
    padding: .5em;

    .grouping{
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div{
            margin-right: .5em;
            margin-bottom: .5em;

            button{
                background-color: $color-1;
                color: $white;
                padding: .5em;
                border: none;
                cursor: pointer;
            }

            button:hover{
                background-color: $color-3;
                color: $black;
            }
        }
    }
}

form.input-submit{
    padding: .5em;

    .grouping{
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: stretch;

        div:first-child{
            flex: 1;

            input{
                width: 100%;
                padding: .31em;
            }
        }

        div{
            button{
                background-color: $color-1;
                color: $white;
                padding: .5em;
                border: none;
                cursor: pointer;
                margin-right: 1em;
            }

            button:hover{
                background-color: $color-3;
                color: $black;
            }
        }
    }
}

form.checkbox-set{
    padding: .5em;

    .grouping{
        border: none;
        padding: 0;
        margin: 0;

        div{
            margin-bottom: .5em;
        }

        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        label {
            position: relative;
            cursor: pointer;
        }

        label:before {
            content:'';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid $color-1;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 10px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
        }

        input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid $color-1;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        div{
            button{
                background-color: $color-1;
                color: $white;
                padding: .5em;
                border: none;
                cursor: pointer;
                margin-right: 1em;
            }

            button:hover{
                background-color: $color-3;
                color: $black;
            }
        }
    }
}