@import '../colors.scss';
#chatbot{
    position: fixed;
    top: calc(50vh - 2em);
    right: 0;

    button{
        width: 4em;
        height: 4em;
        border-radius: 50%;
        display: flex;
        -webkit-box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.3);
        box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.3);
        cursor: pointer;

        i{
            color: $color-1;
            font-size: 2em;
            margin: auto;
        }
    }

    button:hover{
        -webkit-box-shadow: 10px 10px 35px 0px rgba(0,68,69,1);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0,68,69,1);
        box-shadow: 10px 10px 35px 0px rgba(0,68,69,1);
    }
}
#App{
    width: 25em;
    max-width: 90%;
    position: fixed;
    display: flex;
    bottom: .5em;
    right: .5em;
    z-index: 5;

    .Panel{
        height: 35em;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: $grey;

        .chat{
            margin-bottom: .5em;
            flex: 1;
            overflow: hidden;

            .header{
                background-color: $color-1;
                display: flex;
                padding: .25em;

                p{
                    color: $white;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    flex: 1;

                    img{
                        width: 3em;
                    }

                    span{
                        font-size: 1.15em;
                    }
                }

                form{
                    margin-left: 1em;

                    button{
                        top: -.05em;
                        position: relative;
                        font-size: 3em;
                        color: $white;
                        font-weight: bold;
                        background-color: $color-1;
                        border: none;
                        cursor: pointer;
                    }

                    button:hover{
                        color: $color-2;
                    }
                }
            }
        }

        .conversation{
            height: 29em;
            overflow-y: auto;
        }
    }
}